@using FlappyBird.Web.Models

<div class="bird" style="@_birdCss"></div>

@code {

    [Parameter] public BirdModel Model { get; set; }

    string _birdCss => $"bottom: {Model.DistanceFromGround}px";
}