@using FlappyBird.Web.Models

@if (_gameManager == null)
{
    <em>Loading...</em>
}
else
{
    <div class="game-container" tabindex="0" @onclick="StartGame" @onkeyup="HandleKeyUp">
        <div class="sky">
            <Bird Model="_gameManager.Bird" />
        </div>
        <div class="ground"></div>

        @foreach (var pipe in _gameManager.Pipes)
        {
             <Pipe Model="pipe" />
        }
       

    </div>
}

@code {

    GameManager _gameManager { get; set; }

    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.PropertyChanged += (o,e) => StateHasChanged();
    }

    void StartGame()
    {
        _gameManager.MainLoop();
    }

    void HandleKeyUp()
    {
        if (_gameManager.IsRunning)
        {
            _gameManager.Bird.Jump();
        }
    }
}