@using FlappyBird.Web.Models
@using Microsoft.AspNetCore.Components.Web;

@if (_gameManager == null)
{
    <em>Loading...</em>
}
else
{
    <div class="border-left"></div>
    <div class="game-container" tabindex="0" @onclick="_gameManager.StartGame" @onkeyup="HandleKeyUp">
        <div class="border-top"></div>
        <div class="sky">
            <Bird Model="_gameManager.Bird" />
        </div>
        <div class="ground"></div>

        @foreach (var pipe in _gameManager.Pipes)
        {
             <Pipe Model="pipe" />
        }
    </div>
    <div class="border-right"></div>
}

@code {

    GameManager _gameManager { get; set; }

    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.MainLoopCompleted += (o,e) => StateHasChanged();
    }

    void HandleKeyUp(KeyboardEventArgs e)
    {
      string s= e.Key; // already a string no need ToString()
      Console.WriteLine(s);
      //ConsoleKey consoleKey = (ConsoleKey)Enum.Parse(typeof(ConsoleKey), s);

      // if (e.Key == " ")
      if(s == "ArrowUp" || s==" ")
      {
          _gameManager.Jump();
      }

    }
}
