@using FlappyBird.Web.Models

@if (_gameManager == null)
{
    <em>Loading...</em>
}
else
{
    <div class="game-container" tabindex="0" @onclick="StartGame" @onkeyup="HandleKeyUp">
        <div class="sky">
            <div class="bird" style="@_birdCss"></div>
        </div>
        <div class="ground"></div>

        <div class="pipe" style="@_pipeCss"></div>

    </div>
}


@code {

    GameManager _gameManager { get; set; }
    string _birdCss => $"bottom: {_gameManager.Bird.DistanceFromBottom}px";
    string _pipeCss => $"bottom: {_gameManager.Pipe.DistanceFromBottom}px; left: {_gameManager.Pipe.DistanceFromLeft}px";

    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.PropertyChanged += (o, e) => StateHasChanged();
    }

    void StartGame()
    {
        _gameManager.MainLoop();
    }

    void HandleKeyUp()
    {
        _gameManager.Bird.Jump();
    }
}