<div class="ground" style="@_groundCss"></div>

@code {

    [Parameter] public int Height { get; set; }
    [Parameter] public int Width { get; set; }
    [Parameter] public int Top { get; set; }

    string _groundCss => $"height: {Height}px; width: {Width}px; top: {Top}px";
}