@using FlappyBird.Web.Models

<div class="pipe top" style="@_topPipeCss"></div>
<div class="pipe" style="@_bottomPipeCss"></div>

@code {

    [Parameter] public PipeModel Model { get; set; }
    string _topPipeCss => $"bottom: {Model.DistanceFromBottom + 430}px; left: {Model.DistanceFromLeft}px";
    string _bottomPipeCss => $"bottom: {Model.DistanceFromBottom}px; left: {Model.DistanceFromLeft}px";

    protected override void OnParametersSet()
    {
        Model.PropertyChanged += (o, e) => StateHasChanged();
    }
}