@using FlappyBird.Web.Models

<div class="pipe top" style="@_topPipeCss"></div>
<div class="pipe" style="@_bottomPipeCss"></div>

@code {

    [Parameter] public PipeModel Model { get; set; }

    string _pipeCss;
    string _topPipeCss;
    string _bottomPipeCss;

    protected override void OnParametersSet()
    {
        Model.PropertyChanged += (o, e) => StateHasChanged();
        _pipeCss = $"height: {Model.Height}px; width: {Model.Width}px; ";
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _topPipeCss = $"{_pipeCss} left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromBottom + Model.Gap + Model.Height}px;";
        _bottomPipeCss = $"{_pipeCss} left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromBottom}px;";
    }
}