@using FlappyBird.Web.Models

@if (_gameManager == null)
{
    <em>Loading...</em>
}
else
{
    <div class="game-container" @onclick="StartGame">
        <div class="sky">
            <div class="bird" style="@_birdCss"></div>
        </div>
        <div class="ground"></div>
    </div>
}


@code {

    GameManager _gameManager { get; set; }
    string _birdCss => $"bottom: {_gameManager.Bird.DistanceFromBottom}px";

    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.PropertyChanged += (o, e) => StateHasChanged();
    }

    void StartGame()
    {
        _gameManager.MainLoop();
    }
}