body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.border-left {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +1;
}

.border-right {
    left: 580px;
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +1;
}

.border-top {
    width: 660px;
    height: 60px;
    position: absolute;
    background-color: white;
    z-index: +1;
    top: -60px;
    left: -80px;
}

.sky {
    background-image: url(../images/fb-game-background.png);
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-image: url(../images/bottom-background.png);
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.bird {
    background-image: url(../images/flappy-bird.png);
    width: 60px;
    height: 45px;
    left: 220px;
    position: absolute;
}

.pipe {
    background-image: url(../images/flappybird-pipe.png);
    width: 60px;
    height: 300px;
    position: absolute;
}

    .pipe.top {
        transform: rotate(180deg);
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}